.project-board-container {
  display: flex;
  justify-content: flex-start;
  gap: 18px;
  padding: 24px 62px;
}

.add-column-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-element);
  border-radius: var(--border-radius-column);
  height: fit-content;
  width: 260px;
  padding: 4px 0;
}

.add-column-button:hover {
  cursor: pointer;
  filter: brightness(0.95);
}

.add-column-button-text {
  display: flex;
  align-items: center;
  gap: 8px
}

.add-column-plus {
  font-size: 32px;
  font-weight: 200;
}