<div class="project-board-container">
  @for (columnData of (taskColumns$ | async); track $index) {
  <app-task-column [columnData]="columnData" />
  }

  <!-- conditional display, if adding a new column -->
  @if (!isAddNewColumn) {
  <div class="add-column-button" (click)="onClickNewColumn()">
    <p class="add-column-button-text">+ Ajouter une colonne</p>
  </div>
  } @else {
  <div class="adding-column-button">
    <form class="adding-column-container">
      <input
        type="text"
        class="adding-column-input"
        name="title"
        [(ngModel)]="title"
      />
      <p-colorpicker [(ngModel)]="color" name="color" />
      <div class="adding-column-buttons">
        <button class="adding-column-add" (click)="onAddNewColumn()">
          Ajouter la colonne
        </button>
        <button class="adding-column-close" (click)="onCloseNewColumn()">
          <img src="assets/close.svg" alt="Fermer" />
        </button>
      </div>
    </form>
  </div>
  }
</div>
