<div class="dashboard-header">
  <h1 class="dashboard-title">Project Title</h1>

  <div class="dashboard-filter-section">
    <div class="dashboard-filter-button" (click)="onFilterClick()">
      <img src="assets/filter.svg" alt="Filtre" />
      <p>Filtres</p>
    </div>

    <div class="dashboard-filter-modal" *ngIf="isModalOpen">
      <div class="filter-section">
        <p class="filter-category">Etiquettes</p>

        <div class="filter-element">
          <input type="checkbox" />
          <p class="filter-tag">Frontend</p>
        </div>
        <div class="filter-element">
          <input type="checkbox" />
          <p class="filter-tag">Sprint 1</p>
        </div>
      </div>

      <div class="filter-section">
        <p class="filter-category">Date limite</p>

        <div class="filter-element">
          <input type="checkbox" />
          <p>En retard</p>
        </div>
        <div class="filter-element">
          <input type="checkbox" />
          <p>Cette semaine</p>
        </div>
        <div class="filter-element">
          <input type="checkbox" />
          <p>Semaine prochaine</p>
        </div>
        <div class="filter-element">
          <input type="checkbox" />
          <p>Mois prochain</p>
        </div>
      </div>
    </div>
  </div>
</div>
