.dashboard-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 62px 0 62px;
  border-bottom: 2px solid var(--bg-element);
  color: var(--text-color-light);
}

.dashboard-title {
  font-weight: 300;
  padding: 14px 0;
}

.dashboard-title:hover {
  cursor: pointer;
  opacity: 0.8;
}

.dashboard-filter-section {
  position: relative;
}

.dashboard-filter-button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 15px;
  border-radius: var(--border-radius);
}

.dashboard-filter-button:hover {
  cursor: pointer;
  background-color: var(--bg-element);
}

.updating-form {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  margin: 12px 0;
}

.title-input {
  font-size: 18px;
  padding: 8px 4px;
}

.title-buttons {
  display: flex;
  gap: 8px;
}

.title-buttons button {
  min-width: 100px;
  max-height: 40px;
  font-size: 14px;
}
