<header [ngClass]="{ 'header-shadow': currentUrl === '/dashboard' }">
  <div class="img-container">
    <img class="logo" src="assets/logo.svg" alt="logo" routerLink="/" />
  </div>
  <div class="buttons">
    @if(currentUrl === '/') {
    <button class="button-secondary" routerLink="auth/login">
      Se connecter
    </button>
    <button class="button-primary" routerLink="auth/signup">
      Créer un compte
    </button>
    } @if(currentUrl.startsWith('/dashboard')) {
    <div class="user-icon">
      <img src="assets/user.svg" alt="Photo utilisateur" />
    </div>
    }
  </div>
</header>
