header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 62px;
  height: 150px;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 12px;
}

/* all buttons {
  are set into the global styles.css;
} */
