header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 48px 62px;
}

.logo {

}

.buttons {
  display: flex;
  align-items: center;
  gap: 12px;
}

/* button {
  set into the global styles.css;
} */

.button-connexion {
  background-color: transparent;
  border: 2px solid var(--primary-color);
}

.button-create-account {
  background-color: var(--primary-color);
  color: white;
}

.button-connexion:hover {
  background-color: var(--primary-color-hover);
  filter: brightness(1)
}