.card-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: var(--bg-card);
  color: var(--text-color-light);
  border-radius: var(--border-radius);
  border: 1px solid var(--border-element);
  padding: 8px 12px;
  overflow: hidden;
  z-index: 1;
}

.card-container:hover {
  cursor: pointer;
}

.card-tags {
  display: flex;
  gap: 8px;
}

.card-tag-item {
  border: 1px solid var(--orange-color);
  padding: 0.5px 4px;
  border-radius: 5px;
  font-size: 12px;
}

.card-content {
  display: flex;
}

/* change the width when hover */
.card-content-check {
  width: 0%;
  display: none;
}

.card-content-check input:hover {
  cursor: pointer;
}

/* ================================================================== */
/* Masquer le checkbox natif */
.custom-checkbox input[type="checkbox"] {
  display: none;
}

/* Créer le checkbox personnalisé */
.custom-checkbox {
  position: relative;
  display: inline-block;
  cursor: pointer;
  z-index: 2;
}

.custom-checkbox .checkmark {
  width: 20px;
  height: 20px;
  border: 1px solid #ddd;
  border-radius: 50%; /* Rond */
  display: inline-block;
  position: relative;
  transition: all 0.3s ease;
}

/* État checked */
.custom-checkbox input:checked + .checkmark {
  background-color: #4caf50;
  border-color: #4caf50;
}

/* Icône (checkmark) */
.custom-checkbox .checkmark::after {
  content: "✓";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 12px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.custom-checkbox input:checked + .checkmark::after {
  opacity: 1;
}
/* ========================================================== */

.card-content-text {
  width: fit-content;
}

.card-content-title {
  font-weight: 500;
  font-size: 16px;
  color: var(--text-color);
}

.card-content-description {
  font-size: 12px;
  margin-top: 4px;
}

.card-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  border-top: 1px solid var(--border-element);
  padding-top: 6px;
}

.card-details-time {
  display: flex;
  align-items: center;
  gap: 6px;
}

.card-details-time-icon {
  width: 10px;
}

.card-details-story-point {
  font-weight: 700;
}
