<div class="modal-overlay" (click)="onCloseModal()">
  <div class="modal-container" (click)="$event.stopImmediatePropagation()">
    <form [formGroup]="cardForm">
      <input
        class="modal-title-input"
        type="text"
        placeholder="Titre"
        formControlName="title"
      />
      <div class="modal-details-section">
        <div class="modal-group">
          <label>Etiquettes</label>
          <div class="modal-tags">
            @for (tag of (tagsList$ | async); track $index) {
            <p class="modal-tag" [style.borderColor]="tag.color">
              {{ tag.name }}
            </p>
            }
            <button
              type="button"
              class="modal-add-tag-button"
              (click)="openModalUpdateTag()"
            >
              +
            </button>

            <!-- modal to update selected tags -->
            <div class="modal-update-tag" *ngIf="isAddingNewTag">
              <div class="modal-update-tag-header">
                <h3 class="modal-update-tag-title">Etiquettes</h3>
                <img
                  src="assets/close.svg"
                  alt="Icone fermer"
                  (click)="onCloseModalUpdateTag()"
                />
              </div>
              <ul class="modal-update-tag-list">
                @for (tag of (tagsList$ | async); track $index) {
                <li class="modal-update-tag-item">
                  <input
                    type="checkbox"
                    (click)="onUpdateSelectedTags(tag.id)"
                  />
                  <span
                    class="modal-tag update-tag-item"
                    [style.borderColor]="tag.color"
                    >{{ tag.name }}</span
                  >
                  <img
                    class="update-tag-modify-icon"
                    src="assets/pen.svg"
                    alt="Icone modifier"
                  />
                </li>
                }
              </ul>
              <button
                class="button-primary button-add-tag"
                (click)="onOpenAddNewTagModal()"
              >
                Ajouter une étiquette
              </button>
            </div>
          </div>
        </div>

        <!-- date limit and story points part -->
        <div class="modal-details-right">
          <div class="modal-group modal-group-date">
            <label>Date Limite</label>
            <div class="date-group">
              <p-datepicker
                formControlName="limitDate"
                dateFormat="dd.mm.yy"
                [iconDisplay]="'input'"
                inputId="icondisplay"
              />
            </div>
          </div>

          <div class="modal-group modal-group-story">
            <label>Story Points</label>
            <select
              class="modal-story-input"
              name="story-point"
              id="story-point-select"
              formControlName="storyPoints"
            >
              <option value="">--</option>
              <option value="1">1</option>
              <option value="3">3</option>
              <option value="5">5</option>
              <option value="8">8</option>
              <option value="13">13</option>
            </select>
          </div>
        </div>
      </div>

      <div class="modal-description-section">
        <label>Description</label>
        <textarea
          class="modal-description-input"
          formControlName="description"
        ></textarea>

        <div class="modal-buttons">
          <button
            type="button"
            class="button-secondary modal-button"
            (click)="onCancel()"
          >
            Annuler
          </button>
          <button
            type="button"
            class="button-primary modal-button"
            (click)="onAddNewCard()"
          >
            Enregistrer
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
