<div class="modal-overlay">
  <div class="modal-container">
    <input class="modal-title-input" type="text" placeholder="Titre" />
    <div class="modal-details-section">
      <div class="modal-group">
        <label>Etiquettes</label>
        <div class="modal-tags">
          <p class="modal-tag">Frontend</p>
          <p class="modal-tag">Sprint 1</p>
          <button class="modal-add-tag-button">+</button>
        </div>
      </div>

      <div class="modal-details-right">
        <div class="modal-group modal-group-date">
          <label>Date Limite</label>
          <div class="date-group">
            <input class="modal-date-input" matInput placeholder="JJ/MM/AAAA" />
          </div>
        </div>

        <div class="modal-group modal-group-story">
          <label>Story Points</label>
          <select
            class="modal-story-input"
            name="story-point"
            id="story-point-select"
          >
            <option value="">--</option>
            <option value="1">1</option>
            <option value="3">3</option>
            <option value="5">5</option>
            <option value="8">8</option>
            <option value="13">13</option>
          </select>
        </div>
      </div>
    </div>

    <div class="modal-description-section">
      <label>Description</label>
      <textarea class="modal-description-input"></textarea>

      <div class="modal-buttons">
        <button class="button-secondary modal-button">Annuler</button>
        <button class="button-primary modal-button">Enregistrer</button>
      </div>
    </div>
  </div>
</div>
