<div class="modal-overlay" (click)="onCloseModal()">
  <div class="modal-container" (click)="$event.stopImmediatePropagation()">
    <form [formGroup]="cardForm">
      <input
        class="modal-title-input"
        type="text"
        placeholder="Titre"
        formControlName="title"
      />
      <div class="modal-details-section">
        <div class="modal-group">
          <label>Etiquettes</label>
          <div class="modal-tags">
            @for (tag of (selectedTags$ | async); track $index) {
            <p class="modal-tag" [style.borderColor]="tag.color">
              {{ tag.name }}
            </p>
            }
            <button
              type="button"
              class="modal-add-tag-button"
              (click)="openModalUpdateTag()"
            >
              +
            </button>

            <!-- modal to update selected tags -->
            <app-modal-update-tags
              *ngIf="isAddingNewTag"
              (closeModalEvent)="closeModalUpdateTag()"
              (addedTagsEvent)="updateSelectedTags($event)"
            />
          </div>
        </div>

        <!-- date limit and story points part -->
        <div class="modal-details-right">
          <div class="modal-group modal-group-date">
            <label>Date Limite</label>
            <div class="date-group">
              <p-datepicker
                formControlName="limitDate"
                dateFormat="dd.mm.yy"
                [iconDisplay]="'input'"
                inputId="icondisplay"
              />
            </div>
          </div>

          <div class="modal-group modal-group-story">
            <label>Story Points</label>
            <select
              class="modal-story-input"
              name="story-point"
              id="story-point-select"
              formControlName="storyPoints"
            >
              <option value="">--</option>
              <option value="1">1</option>
              <option value="3">3</option>
              <option value="5">5</option>
              <option value="8">8</option>
              <option value="13">13</option>
            </select>
          </div>
        </div>
      </div>

      <div class="modal-description-section">
        <label>Description</label>
        <textarea
          class="modal-description-input"
          formControlName="description"
        ></textarea>

        <div class="modal-buttons">
          <button
            type="button"
            class="button-secondary modal-button"
            (click)="onCancel()"
          >
            Annuler
          </button>
          <button
            type="button"
            class="button-primary modal-button"
            (click)="
              cardToUpdate ? onUpdateCard(cardToUpdate.id) : onAddNewCard()
            "
          >
            Enregistrer
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
