.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.modal-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 600px;
  padding: 14px 18px 52px 18px;
  border-radius: var(--border-radius);
  border: 1px solid var(--border-element);
  background-color: var(--bg-element);
  z-index: 1000;
}

.modal-title-input {
  font-size: 18px;
  padding: 4px 8px;
  border: 1px solid var(--border-element);
  border-radius: 5px;
  width: 200px;
  margin-bottom: 14px;
}

.modal-details-section {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-element);
  padding-bottom: 14px;
}

.modal-group {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

/* =============== Details left PART =============== */
.modal-tags {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 4px;
  width: 280px;
}

.modal-tag {
  padding: 5px 8px;
  border: 1px solid var(--orange-color);
  background-color: white;
  border-radius: 8px;
}

/* =============== Details RIGHT PART =============== */
.modal-details-right {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: fit-content;
  gap: 4px;
}

/* =============== Date PART =============== */
.modal-group-date {
  width: 50%;
}

.modal-group-date {
  display: flex;
}

.date-group {
  display: flex;
  align-items: center;
  gap: 8px;
}

.modal-date-input {
  flex: 1;
  min-width: 0;
  padding: 7px 8px;
}

.modal-group label,
.modal-description-header label {
  font-size: 14px;
}

/* =============== Story point PART =============== */
.modal-group-story {
  width: 100px;
}

.modal-story-input {
  width: fit-content;
  padding: 6px 8px;
  cursor: pointer;
}

/* =============== Description/buttons PART =============== */
.modal-description-input {
  width: 100%;
  min-height: 150px;
  margin-top: 8px;
  padding: 4px 8px;
  resize: none;
}

.modal-buttons {
  position: absolute;
  bottom: 14px;
  right: 18px;
  display: flex;
  gap: 12px;
}

.modal-button,
.delete-card-button {
  padding: 4px 14px;
  font-size: 14px;
  min-width: fit-content;
  border-radius: 5px;
}

.delete-card-button {
  position: absolute;
  bottom: 14px;
  left: 18px;
  border-color: rgb(199, 29, 29);
}

.delete-card-button:hover {
  background-color: rgba(199, 29, 29, 0.2);
}

.modal-title-input,
.modal-description-input,
.modal-story-input,
.modal-date-input {
  border: 1px solid var(--border-element);
  border-radius: 5px;
}

.modal-title-input:focus,
.modal-description-input:focus,
.modal-story-input:focus,
.modal-date-input:focus {
  outline: none;
  border: 1px solid var(--primary-color);
}

/* Personnalisation du calendrier PrimeNG */

::ng-deep .p-datepicker-calendar {
  display: flex;
  flex-direction: column;
  gap: 14px;
  background-color: white;
  border-radius: var(--border-radius);
  padding: 14px 8px;
  border: 1px solid var(--border-element);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

::ng-deep .p-datepicker-panel,
::ng-deep #pn_id_1_panel,
::ng-deep #pn_id_2_panel,
::ng-deep #pn_id_3_panel {
  position: absolute;
  left: -300px;
}

::ng-deep #icondisplay {
  cursor: pointer;
  padding: 5px 8px;
  border-radius: 5px;
  background-color: white;
  border: 1px solid var(--border-element);
}

::ng-deep .p-datepicker-header {
  border-bottom: 1px solid var(--border-element);
}
