.home-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 100px;
  gap: 24px;
  height: calc(100vh - 100px);
  overflow: hidden;
  background: radial-gradient(
    circle at 50% -500%,rgba(43, 153, 250, 1) 0%, 
    rgba(43, 153, 250, 0) 100%);
}

.home-title {
  font-size: 82px;
  font-weight: 700;
  color: var(--primary-color);
}

.home-slogan {
  font-size: 32px;
  font-weight: 400;
  width: 40%;
  text-align: center;
}

.button-je-me-lance {
  padding: 10px 120px;
}

.demo-img { 
  position: absolute;
  bottom : -180px;
}

@media (max-width: 1199px) {
  .home-container {
    padding-top: 80px;
    height: calc(100vh - 100px);
  }

  .home-title {
    text-align: center;
    font-size: 64px;
    font-weight: 800;
  }
  
  .home-slogan {
    width: 60%;
  }
}

@media (max-width: 768px) {
  .home-container {
    gap: 32px;
    height: calc(100vh - 80px);
  }

  .home-title {
    text-align: center;
    font-size: 52px;
    font-weight: 600;
  }
  
  .home-slogan {
    font-size: 24px;
    width: 75%;
  }
  
  .button-je-me-lance {
    font-size: 14px;
    font-weight: 600;
    padding: 10px 80px;
  }
}