<div class="modal-update-tag">
  @if (isAddingNewTag === false) {
  <div class="modal-update-tag-header">
    <h3 class="modal-update-tag-title">Etiquettes</h3>
    <img
      src="assets/close.svg"
      alt="Icone fermer"
      (click)="onCloseModalUpdateTag()"
    />
  </div>
  <ul class="modal-update-tag-list">
    @for (tag of (tagList$ | async); track $index) {
    <li class="modal-update-tag-item">
      <input type="checkbox" (change)="onUpdateSelectedTags(tag.id)" />
      <span class="modal-tag update-tag-item" [style.borderColor]="tag.color">{{
        tag.name
      }}</span>
      <img
        class="update-tag-modify-icon"
        src="assets/pen.svg"
        alt="Icone modifier"
      />
    </li>
    }
  </ul>
  <button
    class="button-primary button-add-tag"
    (click)="onOpenAddNewTagModal()"
  >
    Ajouter une étiquette
  </button>
  } @else {
  <h3 class="modal-update-tag-title">Ajouter nouvelle étiquettes</h3>
  <form>
    <div class="form-update-tag-group">
      <label>Titre</label>
      <input type="text" name="tag-title" [(ngModel)]="newTagTitle" />
    </div>
    <div class="form-update-tag-group">
      <label>Couleur</label>
      <p-colorpicker [(ngModel)]="newTagColor" name="color" />
    </div>
    <button class="button-primary button-add-new-tag" (click)="onAddNewTag()">
      Ajouter
    </button>
  </form>
  }
</div>
