@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Major+Mono+Display&display=swap');

:root {
  --primary-color: #2B99FA;
  --primary-color-hover: #d6ecff;
  --text-color: #29293A;
  --text-color-light: #6A6F7A;
  --border-radius-button: 8px;
  --bg-color: #f8fdfe;
  --bg-element: #F1F4F7;
  --border-element: #DAE0EC;

  --border-radius: 10px;

  --red-color: #DA2C38;
  --pink-color: #DE5073;
  --orange-color: #FF8600;
  --yellow-color: #FFD500;
  --green-color: #7CB518;
  --blue-color: #2B99FA;
  --purple-color: #758BFD;
  --dark-purple-color: #27187E;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  letter-spacing: -5%;
  color: var(--text-color)
}

button {
  border: none;
  padding: 10px 20px;
  min-width: 180px;
  font-weight: 500;
  font-size: 18px;
  border-radius: var(--border-radius-button)
}

.button-secondary {
  background-color: transparent;
  border: 2px solid var(--primary-color);
}

.button-primary {
  background-color: var(--primary-color);
  color: white;
}

.button-secondary:hover {
  background-color: var(--primary-color-hover);
  filter: brightness(1);
}

button:hover {
  cursor: pointer;
  filter: brightness(0.9);
}

@media (max-width: 768px) {
  button {
    padding: 8px 12px;
    min-width: 100px;
    font-weight: 500;
    font-size: 12px;
    border-radius: var(--border-radius-button)
  }

  .button-secondary {
    border: 1px solid var(--primary-color);
  }
}