.task-column-container {
  display: flex;
  flex-direction: column;
  gap: 14px;
  background-color: var(--bg-element);
  border-radius: var(--border-radius-column);
  width: 300px;
  padding: 8px;
  max-height: 72vh;
  overflow: auto;
}

.task-column-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-column-title {
  font-weight: 500;
  color: white;
  background-color: #516dff;
  width: fit-content;
  padding: 2px 14px;
  border-radius: 20px;
}

.tasks-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.add-task-button {
  border-radius: var(--border-radius);
  padding: 4px 14px;
}

.add-task-button:hover {
  cursor: pointer;
  background-color: var(--bg-element);
  filter: brightness(0.95);
}
