<div class="task-column-container">
  <div class="task-column-header">
    <p class="task-column-title" [style.background-color]="columnData.color">
      {{ columnData.name }}
    </p>
    <app-option-column
      [columnId]="columnData.id"
      [currentTitle]="columnData.name"
      [currentColor]="columnData.color"
      (deleteColumnEvent)="handleDeleteColumn(columnData.id)"
    />
  </div>
  <div
    class="tasks-container"
    [id]="columnData.id"
    cdkDropList
    [cdkDropListData]="columnData.cards"
    [cdkDropListConnectedTo]="connectedLists"
    (cdkDropListDropped)="drop($event)"
  >
    @for (cardData of (columnData.cards); track cardData.id) {
    @if(cardData.columnId === columnData.id){
    <div cdkDrag>
      <app-task-card [cardData]="cardData" [columnID]="columnData.id" />
    </div>
    } }
    <div class="add-task-button">
      <p class="" (click)="onOpenModal()">+ Ajouter une carte</p>
    </div>
  </div>

  <app-modal-add-card
    *ngIf="isModalTaskOpen"
    [columnID]="columnData.id"
    (closeModal)="handleCloseModal()"
  />
</div>
