<div class="task-column-container">
  <div class="task-column-header">
    <p class="task-column-title" [style.background-color]="columnData.color">
      {{ columnData.name }}
    </p>
    <app-option-column
      (deleteColumnEvent)="handleDeleteColumn(columnData.id)"
    />
  </div>
  <div class="tasks-container">
    @for (cardData of columnData.cards; track $index) {
    <app-task-card [cardData]="cardData" [columnID]="columnData.id" />
    }
    <div class="add-task-button">
      <p class="" (click)="onOpenModal()">+ Ajouter une carte</p>
    </div>
  </div>

  <app-modal-add-card
    *ngIf="isModalTaskOpen"
    [columnID]="columnData.id"
    (closeModal)="handleCloseModal()"
  />
</div>
