<div class="task-column-container">
  <div class="task-column-header">
    <p class="task-column-title" [style.background-color]="columnData.color">
      {{ columnData.name }}
    </p>
    <img class="column-option-button" src="assets/option.svg" alt="Option" />
  </div>
  <div class="tasks-container">
    @for (cardData of columnData.cards; track $index) {
    <app-task-card [cardData]="cardData" />
    }
    <div class="add-task-button">
      <p class="" (click)="onOpenModal()">+ Ajouter une carte</p>
    </div>
  </div>

  <app-modal-add-card *ngIf="isModalTaskOpen" (closeModal)="onCloseModal()" />
</div>
