<div class="dashboard-filter-overlay">
  <div
    class="dashboard-filter-modal"
    (click)="$event.stopImmediatePropagation()"
  >
    <div class="filter-section">
      <p class="filter-category">Etiquettes</p>
      @for (tag of (tagsList$ | async ); track $index) {
      <div class="filter-element">
        <input
          type="checkbox"
          (change)="updateSelectedFilter(tag.id)"
          [checked]="isFilterSelected(tag.id)"
        />
        <p class="filter-tag" [style.borderColor]="tag.color">{{ tag.name }}</p>
      </div>
      }
      <div *ngIf="tagsList$ | async as tags" class="no-tags">
        @if (tags.length === 0) {
        <p>Pas d'étiquettes à afficher</p>
        }
      </div>
    </div>
  </div>
</div>
